.expansion-pannel-header {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.expansion-pannel-header h2 {
    color: #0A2239;
    margin-bottom: 8px;
}

.expansion-pannel-header span {
    position: relative;
}

.expansion-pannel-body {
    max-height: 0px;
    transition: .3s;
    overflow: hidden;
    margin-bottom: 8px;
    width: 100%;
    opacity: 0;
}

.flipped-arrow {
    transform: rotate(180deg);
    top: -4px;
}

.open-pannel {
    max-height: unset;
    overflow: auto;
    opacity: 1;
}