.multi-input {
    flex-direction: row !important;
    justify-content: space-between;
}

.multi-input div {
    flex: 1 !important;
    margin-left: 8px;
}

.multi-input div:first-child {
    margin-left: 0px !important;
}