#side-nav-container {
    display: flex;
    width: 64px;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    background-color: #333;
}

#side-nav-container button {
    width: 100%;
    background-color: #333;
    border: none;
    border-radius: 0px;
    color: #ffffff99;
    padding: 0px !important;
    margin: 0px !important;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

#side-nav-container button#sign-out-button {
    width: 100%;
}

@media screen and (max-width: 1099px) {
    #side-nav-container {
        flex-direction: row;
        height: 64px;
        width: 100vw;
    }

    #side-nav-buttons {
        display: flex;
        flex-direction: row;
    }

    #side-nav-buttons button {
        border-bottom: none;
        flex: 1 1;
    }

    #side-nav-container button#sign-out-button {
        border: none;
    }

    
}