#full-bottom-button {
    width: 100vw;
    position: fixed;
    bottom: 0px;
    justify-content: center;
    align-items: center;
    padding-bottom: 16px;
}

#full-bottom-button a {
    width: 92vw;
    padding: 8px;
    background-color: lightgray;
    color: #0A2239;
    border-radius: 4px;
    text-decoration: none;
    max-width: 680px;
}

.char-card {
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 16px;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid lightgray;
    transition: .3s;
}

.char-card:hover {
    background-color: lightgray;
}