#pannels-container {
    display: flex;
    flex-direction: row;
}

.pannel-in-viewer {
    width: 500px;
    margin: 8px;
    position: relative;
    left: 0px;
}

.pannel-header {
    width: 100%;
    background-color: #1e3b56;
    padding: 16px;
    color: white;
    transition: .5s;
}

.pannel-body-container {
    padding: 16px;
    overflow: scroll;
    border-top: none;
    height: 84vh;
    max-height: 84vh;
    min-width: 500px;
    background-color: #1f1f1f;
}

#all-the-pannels {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: calc(100vw - 48px);
    justify-content: center;
}

.second-pannel .pannel-header {
    background-color: #1d68ad;
}

.second-pannel .pannel-body-container {
    border-color: #1d68ad;
}

.move-right {
    left: 516px;
}

.fade-out.move-right {
    opacity: 0;
}

#pannel-window {
    width: 1032px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
}

.in-transition { 
    transition: .5s;
}

#area-to-add-new-window {
    min-width: 500px;
    max-width: 500px;
    min-height: 100%;
    left: -516px;
    top: 8px;
    position: absolute;
    opacity: 0;
}

#area-to-add-new-window.add-in {
    left: 8px;
    opacity: 1;
}

.looks-like-second .pannel-header {
    background-color: #1d68ad;
}

.looks-like-second .pannel-body-container {
    border-color: #1d68ad;
}


@media screen and (max-width: 1099px) {
    #pannels-container {
        flex-direction: column-reverse;
    }

    .pannel-body-container, .pannel-in-viewer {
        min-width: 0px;
        margin: 0px;
        border: none;
    }

    .pannel-in-viewer {
        height: calc(100vh - 64px);
        width: 100%;
    }

    .pannel-body-container {
        padding: 16px;
        padding-bottom: 0px;
        max-height: calc(100vh - 106px);
        height: 100vh;
    }

    #all-the-pannels {
        width: 100vw;
    }

    #area-to-add-new-window {
        min-width: 100vw;
        max-width: 100vw;
        min-height: 100vh;
        left: -100vw;
        top: 0px;
        position: absolute;
        opacity: 1;
    }
    
    #area-to-add-new-window.add-in {
        left: 0px;
    }

    .move-right {
        left: 100vw;
    }
}