.outer-box {
    border: 1px solid #1e3b56;
    justify-content: center;
    align-items: center ;
    height: 16px;
    width: 16px;
    border-radius: 4px;
}

.inner-box {
    height: 16px;
    width: 16px;
    opacity: 0;
    background-color: #1e3b56;
    border-radius: 4px;
}

.filled-box {
    opacity: 1 !important;
}

.box-container {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-bottom: 8px
}