#spells-container {
    width: 100%;
}

.spell-box {
    width: 100%;
    border-radius: 8px;
    padding: 16px;
    align-items: flex-start;
    margin-bottom: 8px;
    background-color: #333;
}

.spell-header {
    flex-direction: row;
    padding-bottom: 8px;
    width: 100%;
    justify-content: space-between;
}
.spell-stats {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.spell-stat-container {
    width: 48%;
}

.spell-stat-container span {
    font-size: 12px;
    border-top: 1px solid grey;
    width: 100%;
}

#spells-list-container {
    width: 100%;
}

.spell-requirement {
    color: white;
    padding-right: 16px;
}

@media screen and (max-width: 1009px) {
    #spells-container {
        width: 100vw;
    }

    #spells-list-container {
        padding: 16px;
        padding-top: 0px;
    }
}
