#all-spells-side-sheet-container {
    position: relative;
    width: 100%;
}

#sliding-side-sheet {
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: .3s;
    top: 30px;
    background-color: #1f1f1f;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.39), 0 6px 20px 0 rgba(0, 0, 0, 0.438);
    z-index: -2;
    padding: 16px;
    min-height: 500px;
}

#sliding-side-sheet.opened {
    opacity: 1;
    z-index: 20;
    top: 0px;
}

#current-spell-list {
    max-height: 500px;
    overflow: scroll;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.spell-in-list {
    padding: 2px 16px;
    transition: .2s;
    text-align: left;
    margin: 4px 4px;
    border-radius: 16px;
    background-color: #2f2f2f;
    border: 1px solid #3f3f3f;
    flex-direction: row;
}

.spell-in-list:hover {
    background-color: #2f2f2f;
}

#selected-spell-data {
    background-color: #2f2f2f;
    width: 100%;
    height: 100%;
    padding: 8px;
    max-height: 500px;
    overflow: scroll;
}

#selected-spell-data b {
    color: #ffffffd7;
    padding-right: 4px;
}

.spell-requirement {
    font-weight: bold;
    color: #ffffffd7;
}

.spell-requirements {
    margin-bottom: 8px;
    border-bottom: 1px  solid #ffffffd7;
}