@import url('https://fonts.googleapis.com/css?family=Amaranth|Open+Sans');

h1, h2, h3, h4 {
    font-family: 'Amaranth' !important;
}

body {
    font-family: 'Open Sans'
}

.App {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#app-container {
    display: flex;
    flex-direction: column;
}

#routes-container {
    display: flex;
    justify-content: center;
    width: calc(100vw - 48px);
}