::-webkit-scrollbar {
  width: 4px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none;
  user-select: none;
  background-color: #121212;
  color: #ffffff99;
}

h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
  color: #ffffffdf;
}

.App {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App * {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  outline: none;
}

.header {
  width: 100vw;
  height: 58px;
  justify-content: center;
  background-color: #1e3b56;
  color: white;
}

.page-content {
  min-height: calc(100vh - 58px);
  width: 100vw;
  padding: 16px;
  overflow-x: hidden;
  max-width: 680px;
}

.with-bottom-nav {
  padding-bottom: 54px !important;
}


.button-box {
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  max-width: 680px;
}

.button-box button, .button-box input[type="submit"] {
  margin-left: 8px !important; 
  margin-right: 0px !important;
}

.full-width {
  width: 100%;
}

.button-box input[type="submit"]:first-child {
  margin-left: 0px !important;
}

.push-end {
  justify-content: flex-end !important;
}

button, input[type="submit"] {
  display: inline-block;
  padding: 8px 24px !important;
  background-color: #1e3b56;
  color: #ffffff99;
  font-weight: bold;
  border: 2px solid #1e3b56;
  border-radius: 4px;
  margin-right: 8px !important;
  transition: .3s;
}

button:hover, input[type="submit"]:hover {
  background-color: #1d68ad;
  border-color: #1d68ad;
  cursor: pointer;
}

.flat-button {
  background-color: #333;
  color: #ffffff99;
  border-color: #333;
}

.flat-button:hover {
  color: white !important;
  background-color: #1e3b56;
  border-color: #1e3b56;
}

button.outline-button {
  background-color: transparent;
  border: 1px solid #ffffff99;
}

button.outline-button:hover {
  background-color: #ffffff99;
  color: #333;
  border-color: #ffffff99;
}

button.text-button {
  background-color: transparent;
  border-color: transparent;
  color: #ffffff99; ;
}

button.text-button:hover {
  background-color: #1e3b56;
}

select {
  border: none;
  width: 100%;
  background-color: transparent;
  color: #ffffff99;
}

.sub-header {
  width: 100%;
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 16px;
  padding-top: 16px;
}

.full-button {
  width: 100%;
  margin: 0 !important;
}

button.no-margin-button {
  margin-right: 0 !important;
}

.icon-button {
  padding: 0px !important;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  border: none;
  background-color: #333;
  justify-content: center;
  align-items: center;
  margin-right: 0 !important;
  margin-bottom: 8px;
  color: #ffffff99;
  font-size: 12px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

#no-bottom-pad {
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}

.full-width-row {
  flex-direction: row;
  width: 100%;
}

.grey-color {
  color: #ffffff99;
}

.space-styled-inputs .styled-input {
  margin-right: 8px;
}

.space-styled-inputs :last-child {
  margin-right: 0px;
}

.input-look-alike {
  background-color: #333;
  padding: 8px;
  border-radius: 8px;
  align-items: flex-start;
  margin-bottom: 8px;
}

.input-look-alike :first-child {
  font-size: 12px;
  color: #ffffffdf;
  font-weight: bold;
  padding-bottom: 2px;
}


@media screen and (max-width: 680px) {

}

@media screen and (min-width: 1200px) {
  body {
    overflow-x: hidden;
  }
}