.stats-box {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 16px;
}

.skills-box {
    width: 100%;
    position: relative;
    right: 4px;
}

.solo-skill {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    transition: .2s;
    margin-bottom: 4px;
}

.solo-skill span {
    height: 24px;
    width: 24px;
}

.selected-skill span {
    background-color: #1e3b56;
    color: white;
}

.class-ability {
    min-width: 100%;
    justify-content: flex-start;
    padding-bottom: 16px;
}

.class-ability * {
    width: 100%;
    align-items: flex-start;
}

.selected-skill {
    background-color: #333;
}

.roll-dice-for-skill {
    height: 100%;
    width: 0px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: .2s;
    opacity: 0;
}

.selected-skill .roll-dice-for-skill {
    width: 24px;
    margin-right: 8px;
    opacity: 1;
}